header {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 1rem; 
    transition: background-color 0.3s; 
  }
  
  .flex {
    flex: 1; 
  }
  
  header img {
    display: block;
  }
  
  button {
    margin-left: auto; 
  }
  